%h2.tagline What's this?
%p
  An overview over
  %a{:href => "http://en.wikipedia.org/wiki/Platform-as-a-service"} Platform-as-a-Service
  providers - currently we don't include self-service solutions like Scalarium, but we'll likely add them as a separate category in the future.
%p  
  The site is powered by a pretty simple
  %a{:href => "http://github.com/efficientcloud/platformdirectory.com"} Rails codebase
  with a
  %a{:href => "https://spreadsheets.google.com/spreadsheet/ccc?key=0AieNfGC6EPFddGFlY19ubzFxYU9NSHNfcDRiVm1WNlE&hl=en_US"} Google Spreadsheet
  as data source.
%p
  Please
  %a{:href => "http://efficientcloud.wufoo.com/forms/s7x3a7/", :onclick=>"document.getElementById('feedback').style.display='block'; return false"} let us know if we're missing a provider
  or email us at the address down below.
%p
  We're also open to
  %a{:href => "https://github.com/efficientcloud/platformdirectory.com/issues"} issues
  or pull requests on GitHub :-)

%h2.tagline Who's behind this?
%p
  The folks at
  %a{:href => "http://efficientcloud.com/about"} Efficient Cloud
  \- we aim to make Platform-as-a-Service the new standard that's available with every hosting company, by offering hosters efficient "PaaS in a box" technology.

%h2.tagline The motivation?
%p
  We want to better understand what people are looking for in Platform-as-a-Service hosting companies.

%h2.tagline Contact Us
%p
  %a{:href => "mailto:hello@platformdirectory.com"} hello@platformdirectory.com

%h2.tagline Legal
%p
  The taglines and logos are copyrighted by the corresponding companies. The aggregate version of the data is copyrighted by us, and subject to the license below.
%p
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />
  %small
    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Platform Directory</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://platformdirectory.com/" property="cc:attributionName" rel="cc:attributionURL">Efficient Cloud Ltd</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
