<form method="post" action="/filter">
  <input type="hidden" id="selected_platform" name='platform' />
  <% @platforms.each do |p| %>
    <a class="platform_choice" id="platform_choice_<%= p.slug %>" onclick="search_selected_platform('<%= p.slug %>'); return false;"><%= p.name %></a>
  <% end %>


  <%= country_select :country,:name %>

  <input type="submit" />
</form>
