html, body {
  background: url('/images/leftborder.png') repeat-y;
  background-color: #D9D9D9;
}

body {
}

header {
  padding: 0;
  margin: 0;
  padding-top: 5px;
}

header a:hover {
  text-decoration: none;
  border: none;
  background-color: inherit;
}

header .meta {
  display: none;
}

td, tr, th {
  border-style: collapse;
  padding: 2px 20px 2px 15px;
  border: 1px dotted grey;
}
th {
  font-weight: bold;
  background-color: lightgrey;
}

#content {
  padding: 10px;
}

header {
  font-family: serif;
  margin-bottom: 2em;
  color: white;
}
header h1, header p {
  font-family: serif;
}
header h1 {
  font-size: 3em;
}

.provider {
  width: 100%;
  margin-bottom: 2em;
  position: relative;
  min-height: 90px;
  line-height: 1.5;
}

.provider img.logo {
  padding: 5px;
  max-height: 100px;
  max-width: 150px;
  position: absolute;
  right: 100%;
  margin-right: -172px;
  top: 0;
}

.provider div.more {
  margin-left: 160px;
  padding: 5px 20px;
  margin-right: 150px;
}

.provider div.more a {
  text-decoration: none;
}

.provider div.more .name {
  font-size: 1.5em;
  line-height: 1.5;
}

.provider .details {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
}
