<!DOCTYPE html>
<html>
  <head>
    <title>Platform Directory<%= yield :title %></title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.2.0/build/cssreset/reset-min.css&amp;3.2.0/build/cssfonts/fonts-min.css&amp;3.2.0/build/cssgrids/grids-min.css">
    <link rel='stylesheet' type='text/css' href='/stylesheets/scaffold.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/main.css' />
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>
  <body>
    <header>
      <div class="meta">
        <h1><a href="/">Platform Directory</a></h1>
        <p>PaaS service directory</p>
      </div>
      <a href="/"><img src="/images/logo.png" title="Platform Directory" /></a>
    </header>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
