<!DOCTYPE html>
<html>
  <head>
    <title>Platform Directory<%= yield :title %></title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.2.0/build/cssreset/reset-min.css&amp;3.2.0/build/cssfonts/fonts-min.css&amp;3.2.0/build/cssgrids/grids-min.css">
    <link rel='stylesheet' type='text/css' href='/stylesheets/scaffold.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/main.css' />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <header>
      <div class="meta">
        <h1><a href="/">Platform Directory</a></h1>
        <p>Platform-as-a-Service cloud hosting provider directory</p>
      </div>
      <a href="/"><img src="/images/logo.png" title="Platform Directory" /></a>
    </header>
    <div id="content">
      <%= yield %>
    </div>


    <div id="feedback">
      <div style="position: absolute; right: -15px; top: -5px; width: 1em; height: 1em; border-radius: 5px; color: red; font-family: serif; font-style: italic; font-size: 3em;"><a style="color: inherit;" href="#" onclick="document.getElementById('feedback').style.display='none'; return false;">X</a></div>
      <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>
      <script type="text/javascript">
        var s7x3a7 = new WufooForm();
        s7x3a7.initialize({
          'userName':'efficientcloud', 
          'formHash':'s7x3a7', 
          'autoResize':true,
          'height':'679'});
        s7x3a7.display();
      </script>
    </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23487144-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
